@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Déclaration des couleurs */
  --color-yellow: #ffe600;
  --color-black: #000000;
  --color-teal-1: #01a9af;
  --color-teal-2: #34babf;
  --color-teal-3: #80d4d7;
  --color-light-teal: #cceeef;
  --color-orange: #f8a941;

  /* Déclaration des types de police */
  --font-family-primary: "Barlow", sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  /* Déclaration des tailles de police */
  --font-size-h1: 24px;
  --font-size-p: 14px;
  --font-size-cta: 14px;
  --font-size-cta-2: 16px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  background-color: black;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-p);
  font-family: var(--font-family-primary);
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
}

.scenario_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.point {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 20px;
  height: 100px;
  cursor: pointer;
}

button {
  z-index: 100;
  width: 200px;
  height: 50px;
  opacity: 90%;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.button_animation_menu {
  color: var(--color-teal-1);
  background-color: white;
  font-weight: var(--font-weight-medium);
  border-radius: 2.85rem;
}

.button_animation_menu:hover {
  background-color: var(--color-teal-1);
  color: white;
}

.button_white {
  color: #000000;
  background-color: #ffffff;
}

.scenario_title {
  color: #000000;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  text-align: center;
  width: 200px;
  height: 50px;
}

.scenario_animation {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 90%;
  border-radius: 2.85rem;
  padding: 0.28rem;
  gap: 0.5rem;
  margin-bottom: 10px;
  z-index: 0;
}

.scenario_correction {
  display: flex;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--color-teal-1);
  color: white;
}

button:disabled {
  color: #777777;
  cursor: not-allowed;
}

.button:disabled .label {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.point-1 {
  left: 25%;
}

.point .label {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  font-weight: 100;
  transform: scale(1);
  transition: transform 0.3s;
}

.point .text {
  position: absolute;
  top: 30px;
  left: -120px;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background: #00000077;
  border: 1px solid #ffffff77;
  color: #ffffff;
  line-height: 1.3em;
  font-weight: 100;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.point:hover .text {
  opacity: 1;
}

.point.visible .label {
  transform: scale(1, 1);
}

.loading-spinner {
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 100%;
}
